global:
  resolve_timeout: 5m

route:
  receiver: api_gateway
  group_by: ['alertname', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  routes: []

receivers:
  - name: api_gateway
    webhook_configs:
      - url: https://ljbgpqci2k.execute-api.eu-west-1.amazonaws.com/prod/alerts
        send_resolved: true
        http_config:
          follow_redirects: false

inhibit_rules:
  - source_matchers:
      - severity="critical"
    target_matchers:
      - severity="warning"
    equal: ['alertname', 'instance']
  - source_matchers:
      - severity="warning"
    target_matchers:
      - severity="info"
    equal: ['alertname', 'instance']
