global:
  resolve_timeout: 5m
  smtp_smarthost: email-smtp.eu-west-1.amazonaws.com:587
  smtp_from: alert@vladosur.cc
  smtp_auth_username: AKIAVTKHB63JL44YBSX7
  smtp_auth_password: 

route:
  receiver: api_gateway
  group_by: ['alertname', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  routes:
    - receiver: email_warnings
      matchers:
        - severity="warning"
      continue: true

receivers:
  - name: api_gateway
    webhook_configs:
      - url: https://ljbgpqci2k.execute-api.eu-west-1.amazonaws.com/prod/alerts
        send_resolved: true
        http_config:
          follow_redirects: false
          headers:
            x-api-key: "${ALERT_ROUTER_API_KEY}"
  - name: email_warnings
    email_configs:
      - to: 'suranovsky.vladimir@gmail.com'
        send_resolved: true
      - to: 'milek@acsnet.sk'
        send_resolved: true

inhibit_rules:
  - source_matchers:
      - severity="critical"
    target_matchers:
      - severity="warning"
    equal: ['alertname', 'instance']
  - source_matchers:
      - severity="warning"
    target_matchers:
      - severity="info"
    equal: ['alertname', 'instance']
